@page "/"
@using System.ComponentModel.DataAnnotations
@using System.Net.Mail
@using Microsoft.Extensions.Options
@using Schedule.Core.Interfaces.Data
@using Schedule.Core.Interfaces.Services
@using Schedule.Services.Mail
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IMailService Mail;
@inject IOptions<Data.Models.About> AboutConf
@inject IOptions<Data.Models.Contacts> Contacts

<PageTitle>Главная - @_projectName</PageTitle>
<HeadContent>
    <link href="css/index.css" rel="stylesheet"/>
</HeadContent>

<MudStack Spacing="16">
    <MudContainer>
        <MudTextField @bind-Value="SearchText" Immediate="true" InputMode="InputMode.search" @onkeypress="SearchRoute" Variant="Variant.Outlined" AdornmentIcon="@Icons.Filled.Search"
                      Adornment="Adornment.End" Label="Поиск по маршруту, пункту назначения/отправления"/>
    </MudContainer>
    
    <MudStack Row="true" Justify="Justify.SpaceAround">
        <MudCard Class="mud_card" @onclick='() => NavigationManager.NavigateTo($"/schedule")'>
            <div class="card_media_parent">
                <MudCardMedia Image="pictures/placeholder_1.jpg" Class="mud_card_image"/>
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h4" Align="Align.Center">Полное расписание</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="mud_card" @onclick='() => NavigationManager.NavigateTo($"/about")'>
            <div class="card_media_parent">
                <MudCardMedia Image="pictures/placeholder_2.jpg" Class="mud_card_image"/>
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h4" Align="Align.Center">О проекте</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="mud_card" @onclick='() => NavigationManager.NavigateTo($"/resources")'>
            <div class="card_media_parent">
                <MudCardMedia Image="pictures/placeholder_3.jpg" Class="mud_card_image"/>
            </div>
            <MudCardContent>
                <MudText Typo="Typo.h4" Align="Align.Center">Материалы</MudText>
            </MudCardContent>
        </MudCard>
    </MudStack>
    <MudContainer>
        <MudExpansionPanels>
            <MudExpansionPanel Text="Откуда взялись автобусы?">
                <ChildContent>
                    <MudImage Src="/pictures/OldBuses/pervyuj_prototip.jpg"/>
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        Создателем первого изобретения, похожего на автобус, стал британец Ричард Тревитик из небольшого города Кэмборн.
                        В канун Рождества 1801 года машина, которую тестировал изобретатель на улице, собрала толпу любопытных горожан.
                        В изобретении насчитывалось 8 сидячих мест, а в качестве топлива использовался уголь.
                        В топку его подбрасывал кочегар, стоящий на специальной подножке.
                    </MudText>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Почему именно автобус?">
                <ChildContent>
                    <MudImage Src="/pictures/OldBuses/first_bus.jpg"/>
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        Новое средство передвижения быстро стало популярным в Европе и Соединенных штатах Америки.
                        Название транспорт получил благодаря соединению слов автомобиль и омнибус.
                        Именно омнибус – конный экипаж – использовался для перевозки людей до известного нам изобретения.
                    </MudText>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Первый автобус в России">
                <ChildContent>
                    <MudImage Src="/pictures/OldBuses/pervyj_v_Rossii.jpg"/>
                    
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        На территории Российской империи первый электрический автобус появился в 1901 году.
                        Выпустил его столичный завод «Дукс».
                        Транспортное средство имело 10 сидений и набирало скорость до 20 км/час.
                    </MudText>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Первые автобусные маршруты">
                <ChildContent>
                    <MudImage Src="/pictures/OldBuses/novyj_status.jpg"/>
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        Первый городской автобус начал курсировать по Лондону весной 1903 года.
                        Чуть позже, в 1907 году, быстрые транспортные средства начали возить жителей Архангельска и Санкт-Петербурга.
                        А в 1924 году запустили первый автобусный маршрут в Москве, который помогал добраться пассажирам с Тверской заставы на Калачевскую площадь.
                    </MudText>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Лондонский автобус призрак">
                <ChildContent>
                    <MudImage Src="/pictures/OldBuses/symvol_Londona.jpg"/>
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        Двухэтажные лондонские автобусы красного цвета уже стали местной достопримечательностью, но не многие знают, что впервые они появились на улицах британской столицы в 1959 году.
                        Экскурсоводы рассказывают туристам легенду о Routemaster №7, который появляется ниоткуда и также загадочно исчезает на перекрестке двух улиц.
                        Мистичности данной истории добавляет еще и то, что именно на перекрестке Кембридж Гарденс и Сейнт-Маркс-роуд чаще всего случаются странные ДТП.
                    </MudText>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudContainer>
    <MudContainer>
        <MudText Typo="Typo.h2">
            Надо связаться и обсудить что то?<br/>
            Можно ниже 👇
        </MudText>
        <MudForm Model="FeedbackForm" @bind-IsValid="_isFormValid">
            <MudStack>
                <MudTextField T="string" Label="Как вас записать" For="() => FeedbackForm.UserName" Required="true"
                              RequiredError="Пууустооо, так нельзя, мне надо знать кто пишет" Variant="Variant.Text" @bind-Value="FeedbackForm.UserName"/>
                
                <MudCheckBox T="bool" @bind-Checked="_isRequiredRespond">
                    Надо отвечать?
                </MudCheckBox>
                @if (_isRequiredRespond)
                {
                    <MudTextField T="string" Label="Куда отвечать (Ваша почта)" For="() => FeedbackForm.UserEmail" Required="true"
                                  RequiredError="Ну куда же отвечать?" ErrorText="Вообще-то, здесь надо ввести корректный адрес"
                                  Variant="Variant.Text" @bind-Value="FeedbackForm.UserEmail"/>   
                }
            </MudStack>
            
            <MudTextField T="string" FullWidth="true" Label="Пожалуйтесь, или похвалите здесь" For="() => FeedbackForm.UserMessage" Required="true"
                          RequiredError="Пууустоооо, я не могу за вас додумать сообщение 😁" Lines="10" Variant="Variant.Filled" @bind-Value="FeedbackForm.UserMessage"/>

            <MudButton StartIcon="@Icons.Filled.Done" Style="margin-top: 20px" Variant="Variant.Outlined" OnClick="SendWishes">Готово</MudButton>
        </MudForm>
        
        <MudText Typo="Typo.h4" Align="Align.End">
            Ни один символ <br/> не останется без внимания
        </MudText>
    </MudContainer>
</MudStack>


@code
{
    private class FeedbackFormModel
    {
        public string UserName { get; set; }
        
        [EmailAddress(ErrorMessage = "Не не, так не пойдёт, надо настоящую почту")]
        public string? UserEmail { get; set; }
        public string UserMessage { get; set; }
    }

    bool _isRequiredRespond;
    string _projectName;
    private bool _isFormValid;
    private FeedbackFormModel FeedbackForm { get; set; } = new();
    private string SearchText { get; set; }

    protected override void OnInitialized()
    {
        _projectName = AboutConf.Value.ProjectName;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
    }
    
    private void SendWishes()
    {
        if (_isFormValid == false)
        {
            Snackbar.Add("Что то не так, надо ввести свои данные", configure:options =>
            {
                options.ShowCloseIcon = false;
                options.SnackbarVariant = Variant.Outlined;
                options.Icon = Icons.Filled.ThumbDown;
            }, severity:Severity.Error);
            
            return;
        }
        
        Snackbar.Add("Пасибочки", configure:options =>
        {
            options.ShowCloseIcon = false;
            options.SnackbarVariant = Variant.Outlined;
            options.Icon = Icons.Filled.FavoriteBorder;
        });
    }
    
    private void SearchRoute(KeyboardEventArgs obj)
    {
        if (obj.Key.ToLower() == "enter")
        {
            NavigationManager.NavigateTo($"/schedule?search={SearchText}");
        }
    }
}