@font-face {
    font-family: 'Merienda';
    src: url('../fonts/Merienda-Regular.ttf') format('truetype');
}

.logo {
    font-family: 'Merienda';
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 0.5em #000;
}

.logo-accent {
    color: #B03434;
}

.mud_card_image {
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

.mud_card:hover {
    cursor: pointer;
}

.mud_card_image:hover {
    transform: scale(1.2);
}

.card_media_parent {
    overflow: hidden;
}